<form th:action="@{~/book/save}" th:object="${book}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:field="*{title}" autofocus>
    </div>

    <div class="mb-3">
        <label for="stock" class="form-label">stock</label>
        <input type="number" class="form-control" id="stock" name="stock" th:field="*{stock}" autofocus>
    </div>

    <div class="mb-3">
        <label for="synopsis" class="form-label">Synopsis</label>
        <textarea rows="3" class="form-control" id="synopsis" name="synopsis" th:field="*{synopsis}" autofocus />
    </div>

    <div class="mb-3">
        <label for="publishedAt" class="form-label">Published At</label>
        <input type="date" class="form-control" id="publishedAt" name="publishedAt" th:field="*{publishedAt}" autofocus>
    </div>

    <div class="mb-3">
        <label for="publisherId" class="form-label">Publisher</label>
        <select nama="publisherId" class="form-select" aria-label="Default select example">
            <option value="" selected disabled>Select Publisher</option>
            <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"
                th:selected="${publisher.id == selectedPublisherId}">
        </select>
    </div>

    <div class="mb-3">
        <label for="auhtorId" class="form-label">Author</label>
        <select nama="author" class="form-select" aria-label="Default select example">
            <option value="" selected disabled>Select Author</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"
                th:selected="${author.id == selectedAuthorId}">
        </select>
    </div>

    <button type="submit" style="float: right;" class="btn btn-primary mb-3">Save</button>
</form>